#set($mode = "debug")
<!DOCTYPE html>
<html>
<head>
    <title>$appSettings.getTitle() Widget</title>
    #parse("partials/external/jquery.vm")
    #parse("partials/external/bootstrap.vm")
    #parse("partials/external/WixSDK.vm")
    <link rel="stylesheet" href="../static/css/widget.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="parent">
    <div class="child container-fluid">
        <div class="row-fluid">
            <div class="hero-unit" id="title">
            </div>
        </div>

    ##    instance-details

        <div class="container-fluid thumbnail"
             style="margin-bottom:20px; padding:20px; box-shadow:#ccc 0 0 15px">
            <div class="span4">
                <h6>Instance Parameters</h6>
                <hr/>
                <div class="row-fluid">
                    <div class="pull-left">instanceId</div>
                    <div class="pull-right" id="instanceId"></div>
                </div>
                <div class="row-fluid">
                    <div class="pull-left">signDate</div>
                    <div class="pull-right" id="signDate"></div>
                </div>
                <div class="row-fluid">
                    <div class="pull-left">uid</div>
                    <div class="pull-right" id="uid"></div>
                </div>
                <div class="row-fluid">
                    <div class="pull-left">permissions</div>
                    <div class="pull-right" id="permissions"></div>
                </div>
            </div>
        </div>

        <script type="text/javascript">

            var settings = #if($settings)$settings#else{}#end;
            $(document).ready(function() {
                init();
            })

            function init() {
                try {
                    $('#instanceId').html(Wix.Utils.getInstanceId());
                    $('#uid').html(Wix.Utils.getUid());
                    $('#permissions').html(Wix.Utils.getPermissions());
                    $('#signDate').html(Wix.Utils.getSignDate());

                    settings.styling.color = settings.styling.color || "LightGreen";
                    settings.title = settings.title || "My title";
                    $('#title').html('<h2>'+settings.title+'</h2>');
                    $('#title').css('background-color', settings.styling.color);
                }
                catch (err) {

                }
            }

        </script>

    </div>
</div>
<script src="../static/js/internal/main.js"></script>
</body>
</html>